:root {
  /* Design Tokens - Cores fixas */
  --color-blue-light: #007aff;
  --color-blue-dark: #003fff;
  --color-white: #f0ede6;
  --color-gray-light: #afafaf;
  --color-gray-dark: #121212;
  --color-black: #050506;

  /* FONTES */
  --font-poppins: "Poppins", sans-serif;
  --font-plus: "Plus Jakarta Sans", sans-serif;

  /* --- MODO LIGHT (Padrão) --- */
  --bg-body: var(--color-white);
  --text-main: var(--color-black);
  --text-secondary: var(--color-gray-dark);
  --card-gradient: linear-gradient(113.2deg, #F6F6F6 0%, #EBE9E2 59.08%);
  --card-border: rgba(154, 152, 148, 0.2);
  --card-bg: #F6F6F6;
  --accent: var(--color-blue-light);
}

/* --- MODO DARK --- */
[data-theme="dark"] {
  --bg-body: var(--color-black);
  --text-main: var(--color-white);
  --text-secondary: var(--color-gray-light);
  --card-gradient: linear-gradient(113.2deg, #1A1A1A 0%, #121212 59.08%);
  --card-border: rgba(255, 255, 255, 0.1);
  --card-bg: var(--color-gray-dark);
  --accent: var(--color-blue-light);
}